@font-face{
	font-family: jura;
	src: url('../jura/Jura-Regular.ttf');
}
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.container{
   margin: 0 auto;
   width: 1240px;
}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-1 (УКРАЇНА ПІСЛЯ ПЕРЕМОГИ)*/
.header{
   width: 1240px ;
   height: 720px ;
}
body{
	font-family: jura;
}
.ul{
	font-family: jura;
	font-style: normal;
	font-size: 16px;
	color: #006AA7;
	display: inline-block;
	width: 700px;
	height: 174px;;
	float: left;
}
.li_2{
	width: 95px;
	height: 30px;
	margin-left: 1px;	
	display: inline-block;
}
.li_1{
	width: 95px;
	height: 30px;
	display: inline-block;
	margin-right: 30px;
}
.h1{
    font-family: jura;
	font-style: normal;
	font-size: 100px;
	color: #000000;
	line-height: 118px;
}
.h2{
    font-family: jura;
	font-style: normal;
	font-size: 50px;
	color: #000000;
	line-height: 59px;
}
.p{
    font-family: jura;
	font-style: normal;
	font-size: 16px;
	color: #000000;
	line-height: 19px;
	height: 83px;
	width: 353px;
}
.picture_2{
	text-align: center;
}
.button{
	 font-family: jura;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
	background: #006AA7;
	line-height: 19px;
	width: 244px;
	height: 49px;
    text-decoration: none;
}
.button:hover{
	background: blue;
}
.section_2{
	float: right;
	margin: top;
}
.section_1{
  width: 540px;
  height: 3px;
}
  /*ВЛАСТИВОСТІ ДО БЛОКУ-1(КІНЕЦЬ)*/
 /*ВЛАСТИВОСТІ ДО БЛОКУ-2 (МИНУЛЕ ФОРМУВАННЯ МЕНТАЛЬНОСТІ УКРАЇНЦІВ)*/
.section_3{
	width: 1240px;
    height: 430px;
	background: #F5F5F5;
}

.text_1{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.text_2{
	margin-left: 10px;
}
.text_2:hover{
	color: white;
}
.text_3{
	margin-left: 10px;
}

.text_3:hover{
	color: white;
}
.text_4{
	margin-left: 10px;
}
.text_4:hover{
	color: white;
}
.text_5{
	margin-left: 10px;
}
.text_5:hover{
	color: white;
}
.groug{
	margin-left: 10px;
}
.people{
	margin-left: 10px;
}
.history{
	margin-left: 10px;
}
.music{
	margin-left: 10px
}
.container_1{
  margin-right: 25px;
  height: 250px;
  width: 260px;
  background-color: white;
  margin-left: 23px;
  margin-top: 45px;
  margin-bottom: 135px;	
  display: inline-block;
}  
.container_1:hover{
	background: #006AA7;
}
.history_1{
	background: white;
    height: 250px;
    width: 260px;
    margin-top: 45px;
    margin-bottom: 135px;	
    display: inline-block;
}
.history_1:hover{
	background: #006AA7;
}
.container_2{
    height: 250px;
    width: 260px;
    background-color: white;
    margin-left: 57px;
    margin-top: 45px;
    margin-bottom: 135px;	
    display: inline-block;
}
.container_2:hover{
	background: #006AA7;
}
.detalies{
	color: black;
}
  /*ВЛАСТИВОСТІ ДО БЛОКУ-2(КІНЕЦЬ)*/
 /*ВЛАСТИВОСТІ ДО БЛОКУ-3(УКРАЇНСЬКЕ КОЗАЦТВО-УНІКАЛЬНЕ ЯВИЩЕ В ІСТОРІЇ СВІТУ)*/
.section_4{
    width: 1240px;
    height: 310px;
    background-color: white;
}
.h_1{
   text-align: center;
   font-weight: bold;
   background-color: white;
}
.container_3{
	border: 2px solid black;
   float: left;
   background: #006AA7;
   height: 155px;
   width: 500px;
   margin-left: 73px;
   margin-top: 30px;
   display: inline-block;
   padding: 10px;
}
.text_7{
   margin-top: 13px;
   color: white;
}
.text_6{
	 margin-top: 1px;
	 color: white;
}
.wrapper {
   width: 350px;
   float: left;
   display: inline-block;
}
.kozak1{
   float: right;
   padding-bottom: 20px;
}
.container_4{
   float: left;
   border: 2px solid black;
   margin-right: 30px;
   height: 155px;
   width:  270px;
   background: #f5f5f5;
   margin-left: 30px;
   margin-bottom: 135px;	
   margin-top: 30px;
   display: inline-block;
   padding: 10px;
}
.text_11{
	margin-top: 1px;
}
.container_5{
	border: 2px solid black;
   background: #f5f5f5;
   height: 155px;
   width:  270px;
   float: left;
   display: inline-block;
   margin-top: 30px;
   padding: 2px;
}
.text_12{
	margin-top: 1px;
}
  /*ВЛАСТИВОСТІ ДО БЛОКУ-3(КІНЕЦЬ)*/
 /*ВЛАСТИВОСТІ ДО БЛОКУ-4(ПРАГНЕННЯ ДО НЕБА)*/
.section_5{
	height: 450px;
	width: 1240px;
	background: #F9C00D;
}
.h_2{
	text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    width: 1000px;
    height: 62px;
}
.p_2{
	padding-bottom: 49px;
    margin-left: 33px;
}
.button_2{
    height: 64px;
    width: 249px;
    border-radius: 10px;
    background: #F9C00D;
    margin-left: 33px;
    margin-top: -23px;
}
.button_2:hover{
	background: green;
}
.ul_45{
	margin-top: 20px;
	display: inline-block;
	float: left;
}
.mriya{
	margin-top: 35px;
	margin-left: 150px;
}
.text_13{
	text-align: center;
}
  /*ВЛАСТИВОСТІ ДО БЛОКУ-4(КІНЕЦЬ)*/
 /*ВЛАСТИВОСТІ ДО БЛОКУ-5(СЬОГОДЕННЯ ПЕРІОД ТРАНСФОРМАЦІЇ)*/
.section_6{
	height: 800px;
	width: 1240px;
}
.h_3{
	text-align: center;
    font-weight: bold;
    margin-top: 5px;
    }
.text_13{
	margin-top: 20px;
}
.text_14{
    margin-right: 7px;
    height: 162px;
    width: 290px;
    background-color: white;
    margin-top: 24px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 12px;
    padding: 10px;
    display: inline-block;
    float: left;
}
.h_4{
    height: 186px;
    width: 1200px;
    margin-left: 24px;
    margin-top: 50px;
}
.container_8{
	height: 783px;
    width: 1240px;
}
.dog{
	margin-left: 74px;
	margin-top: 45px;
    height: 160px;
    width: 200px;
    margin-right: 17px;
}
.hause_1{
    height: 160px;
    width: 200px;
    margin-right: 17px;
}
.people_13{
	height: 160px;
    width: 200px;
    margin-right: 17px;
}
.people_12{
	height: 160px;
    width: 200px;
    margin-right: 17px;
}
.container_9{
	width: 657px;
	height: 209px;
	background: #006AA7;
	border-radius: 5px;
	margin-top: 70px;
	margin-left: 283px;
	margin-right: 20px;
	display: inline-block;
    float: left;
}
.text_15{
	color: white;
    width: 478px;
	height: 208px;
	margin-top: 25px;
	margin-left: 45px;
}
.text_16{
  margin-right: 7px;
  height: 162px;
  width: 290px;
  background-color: white;
  margin-top: 24px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 12px;
  padding: 10px;
  display: inline-block;
  float: left;
}
.Zelenski{
	display: inline-block;
    float: right;
    margin-top: -227px;
}
.p_5{
	margin-top: 5px;
	text-align: center;

}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-5(КІНЕЦЬ)*/
/*ВЛАСТИВОСТІ ДО БЛОКУ-6(ДОЛУЧАЙСЯ ДО МАРАФОНУ: БУДУЄМО НОВУ УКРАЇНУ РАЗОМ)*/
.section_7{
	height: 350px;
	width: 1240px;
}
.container_10{
	width: 350px;
	height: 120px;
	margin-left: 65px;
	margin-right: 10px;
	margin-top: 25px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.container_11{
	width: 350px;
	height: 120px;
	margin-right: 10px;
	margin-top: 25px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.container_12{
	width: 350px;
	height: 120px;
	margin-right: 10px;
	margin-top: 25px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.container_13{
	width: 350px;
	height: 120px;
	margin-left: 65px;
	margin-right: 10px;
	margin-top: 10px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.container_14{
	width: 350px;
	height: 120px;
	margin-right: 10px;
	margin-top: 10px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.container_15{
	width: 350px;
	height: 120px;
	margin-right: 10px;
	margin-top: 10px;
	background: #F9C00D;
	display: inline-block;
	float: left;
}
.ukraine_1{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 1px;
	display: inline-block;
	float: left;
}
.emblem_2{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: -3px;
	display: inline-block;
	float: left;
}
.country_3{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}
.ukraine_4{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}
.wheat_5{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}
.kiev_6{
	height: 100px;
	width: 	100px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}
.p_6{
	height: 51px;
	width: 339px;
	margin-top: 18px;
	margin-left: 10px;
}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-6(КІНЕЦЬ)*/
/*ВЛАСТИВОСТІ ДО БЛОКУ-7(МАЙБУТНЄ,МАЙБУТНЄ УКРАЇНИ-ЦЕ ЇЇ ЛЮДИ!)*/
.section_8{
  height: 590px;
  width: 1240px;
  background: #F5F5F5;
}
.h_5{
	text-align: center;
    font-weight: bold;
    margin-top: 5px;

}
.container_16{
	width: 340px;
	height: 230px;
	background: white;
	margin-top: 15px;
	margin-left: 76px;
	margin-right: 16px;
	margin-bottom: 18px;
	display: inline-block;
	float: left;
}
.container_16:hover{
	background: #006AA7;
}
.pray{
	margin-left: 5px;
	margin-top: 10px;
}
.p_7{
	margin-left: 10px;
	margin-top: 10px;
}
.p_7:hover{
	color: white;
}
.container_17{
	width: 340px;
	height: 230px;
    background: white;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 16px;
	margin-bottom: 18px;
	display: inline-block;
	float: left;
}
.container_17:hover{
	background: #006AA7;
}	
.group{
	margin-left: 5px;
	margin-top: 10px;
}
.p_8{
	margin-left: 10px;
	margin-top: 10px;
}
.p_8:hover{
	color: white;
}
.container_18{
	width: 340px;
	height: 230px;
    background: white;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 16px;
	margin-bottom: 18px;
	display: inline-block;
	float: left;
}
.container_18:hover{
	background: #006AA7;
}
.volya{
	margin-left: 5px;
	margin-top: 10px;
}
.p_9{
	margin-left: 20px;
	margin-top: 10px;
}
.p_9:hover{
	color: white;
}
.container_19{
	width: 520px;
	height: 200px;
    background: white;
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 16px;
	margin-bottom: 18px;
	display: inline-block;
	float: left;
}
.container_19:hover{
   background: #006AA7;
}
.rethink{
	margin-left: 5px;
	margin-top: 10px;
}
.p_10{
	margin-left: 20px;
	margin-top: 10px;
}
.p_10:hover{
	color: white;
}
.container_20{
	width: 520px;
	height: 200px;
    background: white;
	margin-top: 15px;
	margin-left: 27px;
	margin-right: 16px;
	margin-bottom: 18px;
	display: inline-block;
	float: left;
}
.container_20:hover{
	background: #006AA7;
}
.p_11{
	margin-left: 20px;
	margin-top: 10px;
}
.p_11:hover{
	color: white;
}
.rocket{
	margin-left: 5px;
	margin-top: 10px;
}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-7(КІНЕЦЬ)*/
/*ВЛАСТИВОСТІ ДО БЛОКУ-8( МИ НАЦІЯ ВІЛЬНИХ ЛЮДЕЙ,ЯКІ БУДУЮТЬ НОВУ СВОЮ КРАЇНУ!)*/
.section_9{
	width: 1240px;
	height: 270px;
}
.people_01{
	margin-left: 70px;
	margin-top: 45px;
    height: 160px;
    width: 250px;
    margin-right: 17px;
}
.people_02{
	margin-left: 8px;
	margin-top: 45px;
    height: 160px;
    width: 250px;
    margin-right: 17px;
}
.people_03{
	margin-left: 8px;
	margin-top: 45px;
    height: 160px;
    width: 250px;
    margin-right: 17px;
}
.people_04{
	margin-left: 10px;
	margin-top: 45px;
    height: 160px;
    width: 250px;
    margin-right: 17px;
}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-8(КІНЕЦЬ)*/
/*ВЛАСТИВОСТІ ДО БЛОКУ-9(ЗАВАНТАЖ СОБІ ПАТРІОТИЧНІ НАЛІПКИ)*/
.section_10{
     width: 1240px;
	height: 550px;
}
.p_12{
	text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.stiker_1{
   height: 150px;
	width: 150px;
	margin-top: 10px;
	display: inline-block;
	float: left;
}
.sticker_2{
	height:150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 35px;
	display: inline-block;
	float: left;
}
.sticker_3{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 35px;
	display: inline-block;
	float: left;
}
.sticker_4{
     height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 35px;
	display: inline-block;
	float: left;
}
.sticker_5{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 35px;
	display: inline-block;
	float: left;
}
.sticker_6{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 35px;
	display: inline-block;
	float: left;
}
.sticker_7{
    height: 150px;
	width: 150px;
	margin-top: 31px;
}
.container_22{
	width: 1165px;
	height: 403px;
	display: inline-block;
	float: right;
}
.sticker_8{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_9{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_10{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_11{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_12{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_13{
    height: 150px;
	width: 150px;
	margin-top: 31px;
}
.sticker_14{
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_15{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_16{
    height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_17{
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
.sticker_18{
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 31px;
}
 /*ВЛАСТИВОСТІ ДО БЛОКУ-9(КІНЕЦЬ)*/
/*ВЛАСТИВОСТІ ДО БЛОКУ-10(2022,ЛИСТОПАДОВ БОГДАН)*/
.section_11{
	width: 1240px;
	height: 61px;
	background: #006AA7;
}
.container_23{
	width: 1240px;
	height: 61px;
	background: #006AA7;
	display: flex;
}
.Ukraine{
    margin-left: 748px;
    margin-top: -19px;
}
.p_13{
	text-align: center;
    font-weight: bold;
    margin-top: 5px;
    color: white;\
}
   /*ВЛАСТИВОСТІ ДО БЛОКУ-10(КІНЕЦЬ)*/